@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.footer{
	padding-top: 3em;
	background-color: #08001a;
	color: #fff;

}

.box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-wrap: wrap;
}

/*.box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}
*/
/*.footer,
.box-container,
.box{
	/*flex: 1 1 2.5em;*/
/*	margin: 2em;
}
.box-container,.box h3{
	
	padding-top: 1em 0;
	color: #fff;
	text-decoration: underline;
	text-underline-offset: 1rem;
}*/
/*.footer,
.box-container,
.box p{
	
	padding-top: 1em 0;
	color: #fff;
}
.footer,
.box-container,
.box a{
	display: block;
	ont-size: 2.5em;
	padding-top: 1em 0;
	color: #fff;
}
*/*/
